<div class="row justify-content-center">
  <div id="social" class="col-sm-4">
    <div id="logo">
      <img alt="Logo">
    </div>
    <ul>
      <li>
        <a href="#" class="fab fa-facebook-square"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-8 links">
    <ul><strong>INFO AND SERVICES</strong>
      <li><a href="#">Festival presentation</a></li>
      <li><a href="/reservation">Reservation info</a></li>
      <li><a href="/user/registration">Registration/Login</a></li>
      <li><a href="/contactus">Contact us</a></li>
    </ul>
  </div>
</div>
